@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
  --white: #f6f6f6;
  --org:#dd6d09;
  --poppins:'Poppins', sans-serif;
}

*{
  font-size: var(--poppins);
}

.contain-components{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-15deg, black,#282528e0);
}


